# Outline Variables
OUTLINE_POSTGRES_IMAGE_TAG=postgres:16
OUTLINE_IMAGE_TAG=outlinewiki/outline:latest
OUTLINE_REDIS_IMAGE_TAG=redis:7.0
OUTLINE_MINIO_IMAGE_TAG=minio/minio:RELEASE.2023-08-04T17-40-21Z
OUTLINE_DB_NAME=outlinedb
OUTLINE_DB_USER=outlinedbuser
OUTLINE_DB_PASSWORD=f7c6df65225789654047c31a8955eab1
OUTLINE_URL=https://outline.example.com
OUTLINE_HOSTNAME=outline.example.com
OUTLINE_MINIO_ADMIN=minioadmin
OUTLINE_MINIO_ADMIN_PASSWORD=1606df9f6d81bf10090fd2896935ab2f
OUTLINE_MINIO_USER=bucket.data
OUTLINE_MINIO_USER_PASSWORD=69b8cceb366bde7700d24d6d012f679e
OUTLINE_MINIO_BUCKET_NAME=data

# MiniIO API hostname
OUTLINE_MINIO_HOSTNAME=minio.example.com
OUTLINE_MINIO_CONSOLE_URL=https://minio-console.example.com
OUTLINE_MINIO_CONSOLE_HOSTNAME=minio-console.example.com

# Secret key
# It can be generated with the command:
# openssl rand -hex 32
OUTLINE_SECRET_KEY=8871005048e75c9791f7076969b8e3acbeb7a09c634dd768db9c5abf4590cc3c
# Utils secret
# It can be generated with the command:
# openssl rand -hex 32
OUTLINE_UTILS_SECRET=d3b03ed47be4486edd91435e1eb0315ba28aeb252e85b51d4c4f5fd4310633a8
OUTLINE_AWS_S3_UPLOAD_BUCKET_URL=https://minio.example.com/data
FILE_STORAGE_UPLOAD_MAX_SIZE=524288000

# Keycloak realm secret
OUTLINE_OIDC_HOSTNAME=auth.example.com
OUTLINE_OIDC_DOCKER_GATEWAY=192.168.112.1
# You need to specify it before starting the Outline container
# It can be found in your realm manage section. Clients/YourClient/Credentials.
OUTLINE_OIDC_CLIENT_SECRET=
# Authentication endpoints
# It can be found in your realm configure section. Realm Settings/General/Endpoints.
# Example: https://auth.example.com/realms/outline/.well-known/openid-configuration
OUTLINE_OIDC_AUTH_URI=https://auth.example.com/realms/outline/protocol/openid-connect/auth
# It can be found in your realm configure section. Realm Settings/General/Endpoints.
# Example: https://auth.example.com/realms/outline/.well-known/openid-configuration
OUTLINE_OIDC_TOKEN_URI=https://auth.example.com/realms/outline/protocol/openid-connect/token
# It can be found in your realm configure section. Realm Settings/General/Endpoints.
# Example: https://auth.example.com/realms/outline/.well-known/openid-configuration
OUTLINE_OIDC_USERINFO_URI=https://auth.example.com/realms/outline/protocol/openid-connect/userinfo
OUTLINE_OIDC_DISPLAY_NAME=Keycloak
OUTLINE_OIDC_USERNAME_CLAIM=preferred_username
OUTLINE_OIDC_SCOPES=openid profile email

# Outline Backup Variables
OUTLINE_BACKUP_INIT_SLEEP=30m
OUTLINE_BACKUP_INTERVAL=24h
OUTLINE_POSTGRES_BACKUP_PRUNE_DAYS=7
OUTLINE_DATA_BACKUP_PRUNE_DAYS=7
OUTLINE_POSTGRES_BACKUPS_PATH=/srv/outline-postgres/backups
OUTLINE_DATA_BACKUPS_PATH=/srv/outline-application-data/backups
OUTLINE_DATA_PATH=/data
OUTLINE_POSTGRES_BACKUP_NAME=outline-postgres-backup
OUTLINE_DATA_BACKUP_NAME=outline-minio-application-data-backup

# Outline Default Language
OUTLINE_DEFAULT_LANGUAGE=ko_KR